

    <meta charset="UTF-8">
    <title>Literature Club</title>
    <link rel="stylesheet" href="assets/stylesheets/litClub.css">
    <section class="header">
    <h1><a href="/"><img src="/assets/images/Lit.png" width="75" height="75" alt="Literature Club Logo">
            Literature Club at UNC Charlotte</a></h1>

    </section>
