<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/header.ejs') %>
</head>
<body>

<%- include('partials/dropdown.ejs') %>

<main>
    <h1>About us</h1>
    <p>
        Charlotte Literature Club is dedicated to storytellers. Our mission is to create a positive environment so that
        individuals can improve their skills, gain honest and creative feedback, or simply engage in discussion about
        written media. The club is open to any experienced or aspiring novelists, poets, screenwriter, comic or manga
        writers, or fans of any literature or performative writing.
    </p>
    <h1> how the site works</h1>
    <p>
        how the site works (fill in later)
    </p>
</main>
</body>

<%- include('partials/footer.ejs') %>

</html>