<!DOCTYPE html>
<html lang="en">

<head>
<%- include('partials/header.ejs') %>
</head>
<body>

<%- include('partials/dropdown.ejs') %>

<main>
    <h1>Contact us</h1>
    <p>
        <strong>Discord:</strong> NordVPn <br>
        <strong>Email:</strong> uncclitclub@gmail.com <br>
        <strong>other contacts:</strong> other contacts<br>
    </p>
</main>
</body>

<%- include('partials/footer.ejs') %>

</html>