<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/header.ejs') %>

</head>
<body>

<%- include('partials/dropdown.ejs') %>

<main>
    <h2>Welcome to the Literature Club at UNC Charlotte's Official Planning
        website!</h2>
    <p>here we have all of our future events. feel free to sign up or register,
        or even volunteer for some of our events! </p>

</main>
</body>
<%- include('partials/footer.ejs') %>
</html>